body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F8FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header--container {
  height: 100px;
  max-width: 100%;
  font-family: 'Inter', 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: white;
  line-height: 18px;
  letter-spacing: -0.075em;
  background-color: #37003c;
  text-align: center;
  padding: 10px;
}

.title {
  font-size: 55px;
  margin-top: 15px;
}

.footer {
  text-align: center;
  background-color: #37003c;
  bottom: 0%;
  position: fixed;
  width: 100%;
  font-family: 'Inter';
  color: white;
  padding: 5px;
}

.submission {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.restart--button {
  height: 3.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1.5em;
  cursor: pointer;
  color: white;
  background-color: #37003c;
  font-size: 2.5vh;
  border-radius: 5px;
  border: 0;
}

.restart--button:hover {
  background-color: #401945;

}

.input--container {
  /*margin: auto;*/
  max-width: 494px;
  width: 50%;
}

input {
  box-sizing: border-box;
  margin-top: 40px;
  width: 100%;
  padding: 3vh;
  height: 12vh;
  font-family: 'Inter', 'Karla';
  font-weight: bold;
  font-size: 2.5vh;
  background-color: transparent;
}

.suggestions {
  box-sizing: border-box;
  border: 1px solid #999;
  border-top-width: 0;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  max-height: 200px;
  overflow-y: auto;
  width: inherit;
  max-width: 494px;
  font-family: 'Inter', 'Karla';
  font-size: 2.5vh;
  position: absolute;
}

.suggestions > li {
  padding: 20px;
  background-color: #F8F8FF;
}

.suggestion--active {
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.guess--container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 700px;
}

.guess, .guess--header {
  display: flex;
  align-items: center;
  text-align: center;
  height: 10vh;
}

.guess:not(:first-of-type){
  border-top: 1px solid #37003c;
}

.guess > div, .guess--header > div {
  /* Next lines specify the size of the textbox*/
  flex-grow: 0;     /* do not grow   - initial value: 0 */
  flex-shrink: 0;   /* do not shrink - initial value: 1 */
  flex-basis: 15%; /* width/height  - initial value: auto */
  min-width: 0;
  text-overflow: ellipsis;
  font-size: 2.5vh;
}

.guess > div {
  display: flex;
  margin: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #F8F8FF;
  background-color: #f2f2f2;
  /*Prevents the text from overflowing*/
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.guess > .name, .guess--header > .name {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;
  min-width: 0;
  margin: 0;
  margin-right: 1.5vw;
  padding-top: 10px;
  padding-bottom: 10px;
  /*Prevents the text from overflowing*/
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2.5vh;
}

.guess--header {
  max-width: 98%;
  border-bottom: 1px solid #37003c;
  box-shadow: 0 3px 2px -2px #37003c;
  color: #37003c;
  font-weight: bold;
}

.guesses {
  margin-top: 5px;
  max-height: 300px;  /* Makes the container of our guesses scrollable */
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal {
  position: fixed;
  z-index: 1;
  width: 95%;
  height: 100%;
}

.modal--content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.close {
  color: Black;
  float: right;
  font-size: 30px;
}

.close:hover {
  color: red;
  cursor: pointer;
}

.popup--info {
  text-align: center;
  color: #37003c;
  font-size: 2vh;
}